extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Movie Database
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/movies") Movies
                div(ng-include="'partials/account/login'")
    section
        div(ng-view)



    .footer.panel-footer
        p.text-center
            | &copy; Team "Paradise" 2014
